<launch>
    
    <arg name="node_name" default="restar_sensors_screen" />
    <arg name="node_start_delay" default="20.0" /> <!-- time in seconds to delay the node launch-->

    <node name="$(arg node_name)" pkg="restart_node_pkg" type="restart_node.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " output="screen">
        <param name="elapsed_time" value="100" />  <!-- time in seconds -->
    </node>

</launch>